# ----------------------------
# Docker Compose file for Docker Services - Homelab Web
# Services: Plex
# ----------------------------

services:
  # ----------------------------
  # PLEX (HOST NETWORK)
  # ----------------------------
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=Asia/Kolkata
    volumes:
      - /srv/docker-data/plex/config:/config
      - /srv/docker-data/plex/media:/media
      - /mnt/media/Entertainment/Movies:/media/movies:ro
      - /mnt/media/Entertainment/Shows:/media/tvshows:ro
