# ----------------------------
# Docker Compose file for Docker Services - Homelab Web
# Services: Immich
# ----------------------------

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    env_file: [ .env ]
    ports:
      - "2283:2283"
    depends_on: [ redis, database ]
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu, video, utility ]

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-cuda
    volumes: [ model-cache:/cache ]
    env_file: [ .env ]
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  redis:
    container_name: immich_redis
    image: docker.io/redis:6.2-alpine
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    restart: always

  database:
    container_name: immich_postgres
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - /srv/docker-data/immich/postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  model-cache:
