# ----------------------------
# Docker Compose file for Docker Services - Homelab Web
# Services: Portainer
# ----------------------------

services:
  # ----------------------------
  # PORTAINER
  # ----------------------------
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    expose:
      - "9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer:/data
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
