# ----------------------------
# Docker Compose file for Docker Services - Homelab Web
# Services: Open WebUI
# ----------------------------

services:
  # ----------------------------
  # OPEN WEBUI
  # ----------------------------
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: unless-stopped
    environment:
      - 'OLLAMA_BASE_URL=http://192.168.29.197:11434'
    expose:
      - "8080"
    volumes:
      - /srv/docker-data/openwebui:/app/backend/data
    networks:
      - proxy_net
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  proxy_net:
    external: true
